<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dodaj nowe Pytanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
 
<body>
    <div class="container my-5">
        <h3>Dodaj nowe Pytanie</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/addQuestion}" th:object="${question}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Pytanie</label> 
                                <input type="text" th:field="*{que}" class="form-control" id="name" placeholder="Input here the question..." />
                            </div>
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">A</label>
                                <input type="text" th:field="*{a}" class="form-control" id="name" placeholder="Option a) here..." /> 
                            </div> 
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">B</label>
                                <input type="text" th:field="*{b}" class="form-control" id="name" placeholder="Option b) here..." /> 
                            </div> 
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">C</label>
                                <input type="text" th:field="*{c}" class="form-control" id="name" placeholder="Option c) here..." /> 
                            </div> 
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">D</label>
                                <input type="text" th:field="*{d}" class="form-control" id="name" placeholder="Option d) here..." /> 
                            </div> 
                            <div class="form-group col-md-8">
                                <label for="name" class="col-form-label">Poprawna odpowiedź</label>
								<select th:field="*{answer}">
								    <option th:value="'A'" th:text="A"></option>
								    <option th:value="'B'" th:text="B"></option>
								    <option th:value="'C'" th:text="C"></option>
								    <option th:value="'D'" th:text="D"></option>
								</select>                             
                            </div> 
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Zatwierdź ">
                            </div>
                            
                            <input type="hidden" id="id" th:field="*{id}">                                 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
 
</html>