<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wszystkie Quiz-y</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
 
<body>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${quizes}" class="container my-5">
            <p class="my-5">
                <a href="/editQuiz" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2">Dodaj nowy Quiz </i></a>
            </p>
            <div class="col-md-10">
                <h2 th:case="null">Brak rekordów z quiz-ami !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Aktywny</th>
                                <th>Czas</th>
                                <th>Zmień</th>
                                <th>Usuń</th>
                                <th>Pytania</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="quiz : ${quizes}">
                                <td th:text="${quiz.name}">
                                	<a th:href="@{/issues/{id}(id=${quiz.id})}">
                                    </a>                                
                                </td>
                                <td th:text="${quiz.isActive}"></td>
                                <td th:text="${quiz.time}"></td>
                                <td>
                                    <a th:href="@{/editQuiz/{id}(id=${quiz.id})}"
                                             class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/delQuiz/{id}(id=${quiz.id})}"
                                              class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                	<a th:href="@{/issues/{id}(id=${quiz.id})}">Link
                                    </a>                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
 
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
 
</html>