<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wszystkie Pytania</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
 
<body>
    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div th:switch="${questions}" class="container my-5">
            <p class="my-5">
                <a href="/newQuestion" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2">Dodaj nowe Pytanie </i></a>
            </p>
            <div class="col-md-10">
                <h2 th:case="null">Brak rekordów z pytaniami !!</h2>
                <div th:case="*">
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Pytanie</th>
                                <th>A</th>
                                <th>B</th>
								<th>C</th>
								<th>D</th>								
								<th>Odpowiedź</th>								
                                <th>Zmień</th>
                                <th>Głosy</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="q : ${questions}">
                                <td th:text="${q.que}"></td>
                                <td th:text="${q.a}"></td>
                                <td th:text="${q.b}"></td>
                                <td th:text="${q.c}"></td>
                                <td th:text="${q.d}"></td>
                                <td th:text="${q.answer}"></td>
                                <td>
                                    <a th:href="@{/editQuestion/{id}(id=${q.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                	<a th:href="@{/voting/{id}(id=${q.id})}">Zobacz</a>                                
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
 
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
 
</html>